VITE_SUPABASE_URL=https://hzfanxxnkbmievorzrgm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6ZmFueHhua2JtaWV2b3J6cmdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NzIyNDMsImV4cCI6MjA5MzU0ODI0M30.1eaTclh8XBoJUubULMuWEdrXRtIYJhhyJe_n5hfZzWE
